* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
  
}
.container {
  background-color: rgb(57, 113, 75);
  color: white;
}
span {
  display: flex;
  align-items: center;
}

p {
    
    float: right;
}
